@using ARSFD.Web.Models.DentistViewModels
@model DentistIndexViewModel
@{
	ViewData["Title"] = "Index";
}

<div class="row">
	<h3>Търси зъболекари</h3>
	<form class="form-inline" action="@Url.Action("Index","Dentist")">
		<div class="form-group">
			<label for="Name">Име</label>
			<input type="text" class="form-control" name="Name" id="Name">
		</div>
		<div class="form-group">
			<label for="City">Град</label>
			<input type="text" class="form-control" name="City" id="City">
		</div>
		<div class="form-group">
			<label for="Type">Тип</label>
			<input type="text" class="form-control" name="Type" id="Type">
		</div>
		<div class="form-group">
			<label for="Rating">Рейтинг</label>
			<input type="text" class="form-control" name="Rating" id="Rating">
		</div>
		<button type="submit" class="btn btn-default">Търси</button>
	</form>
</div>
<div class="row" style="margin-top: 20px;">
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Име</th>
				<th>Град</th>
				<th>Тип</th>
				<th>Рейтинг</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Dentists.Length <= 0)
			{
				<tr>
					<td colspan="5">
						Няма зъболекари.
					</td>
				</tr>
			}
			else
			{
				@foreach (DentistListItemViewModel dentist in Model.Dentists)
				{
					<tr>
						<td>@dentist.Name</td>
						<td>@dentist.City</td>
						<td>@dentist.Type</td>
						<td>@dentist.Rating</td>
						<td><a href="@Url.Action("Single", "Dentist", new { id = dentist.Id })" class="btn btn-info" role="button">Прегред</a></td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
